:root {
  --primary: #1d1d1d;
  --heading: #ffffff;
  --button: #15dad0;
  --text: #47dd21;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body div.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: var(--primary);
}

h1, h2 {
  color: var(--heading);
}

body div header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
}

body div article.card {
  background-color: var(--primary);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: var(--text) 0px 2px 8px 0px;
  color: var(--text);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

body div article section.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--primary);
  height: 2px;
}

body div article section.card-body {
  min-height: 100px;
}

body div article div.card-footer {
  text-align: center;
}

body div article div.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--primary);
  height: 2px;
}

body div article div.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

body div article div button.btn {
  border: none;
  background-color: var(--button);
  border-radius: 25px;
  color: var(--primary);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 0px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

body div article div button.btn:hover {
  box-shadow: var(--heading) 0px 1px 6px 0px;
}

body div article section textarea.password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--button);
  background-color: var(--primary);
  color: var(--button);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

::placeholder {
  color: rgb(83, 83, 83)
}

input[type=text], input[type=checkbox] {
  background-color: rgb(185, 185, 185);
}

@media (max-width: 690px) {
  body div article div button.btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  body div article section textarea.password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  body div article div button.btn {
    font-size: 0.8rem;
  }
}
